



/* comment */





h1{
    color: #495057;
    font-size: 62px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
     
}


p,.pink{
    color: #495057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.7;
}
#white{
    color: cyan;
    font-weight: 700;

}
p{
    font-size: 20px;
    background-color: azure;

}
h2,h3{
    color: #212529;
    line-height: 1.2;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -2px;
    font-family: sans-serif

    
    
}
h3,h1{
    background-color: blanchedalmond;
}
h2{
    background-color:lightskyblue
}
li{
    color: cornflowerblue;
    font-size: 25px;
    background-color: antiquewhite;
}
a{
    font-size: 16px;
    
    

}
ul{
    list-style: none;
}
.pink{
    
      
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.gradient{
    color: darkorchid;
    font-weight: bold;
    text-decoration: underline;
}
.in{
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    color: white;
    
   
    
}
.inup{
    background-color: aquamarine;

}
.indown{
    background-color: goldenrod;
}
.log{
    text-align: center;
}
.button2{
    background-color: #339af0;
    color: red;
    

}
nav{
    background-color: skyblue;

}
body{
    background-color: darkkhaki;


}
.gradient:link, :visited{
    color: blue;
}
.gradient :hover, :active{
    color: darkmagenta;
}
a:link{
    color: blue;
}
a:visited{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
}


li :last-child{
    color: aqua;
}
li :nth-child(2n+1){
    color: red;



}
li :first-child{
    color: rgb(153, 107, 23);
}
    
li:nth-child(5){
    color: lime;
}


tr:first-child{
    color: #339af0;
    background-color: antiquewhite;
}
tr:last-child{
    color: coral;
    background-color: darkgreen;
}
th:nth-child(2){
    background-color: darkkhaki;
}
td:nth-child(2){
    color: red;
    background-color: dimgrey;
}

td:hover,th:nth-child(2):hover{
    color: aqua;
}

.css{
    display: inline-block;
    color: white;
    background-color: #339af0;
    border-radius: 8px;
    padding: 1.5rem 3rem
    

}
.selector{
    display: inline-block;
    color: rgb(15, 117, 75);
    padding: 1rem 2rem;
    border-radius: 5px;

    background-color: lavender;
    
    

}
/* no need of link and visited pseudo name, they are only for anchor tag. others like hover and active can be use for heading, paragraph, etc */
p:hover{
    color: green;
}
p:active{
    color:yellow;
}
tr:nth-child(3){
    color: chartreuse;
}
.article p{
    color: lavenderblush;
}
.article p{
    color: skyblue;
}
.div >p{
    color: magenta;
}
input{
    color: darkblue;
}
textarea{
    color:red;
    background-color: darkgray;
}
a{
    background-color: #d0ebff;
}
h1,h2,h3{
    color: #212529;
}
p{
    color: #495057;

}
