* {
  font-family: "Times New Roman", Times, serif;
  max-width: 1800px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --text-color: #c9c9c9;
  --accent-color: #0071ff;
}
html {
  font-family: poppins, "Segoe UI", sans-serif;
  color: var(--text-color);
}
main {
  padding: min(5em, 7%);
}
main p {
  margin-top: 0.35em;
}
h1,
h2,
h3 {
  font-weight: 700px;
}
body {
  background-color: var(--primary-color);
  min-height: 100vh;
  min-height: 100dvh;
}
.mf {
  margin-top: 30px;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #333;
}
footer:hover {
  background-color: pink;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 1px;
}
a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}

section:target {
  background-color: skyblue;
}
.ab {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.am {
  flex-grow: 1;
}
.pb {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pm {
  flex-grow: 1;
}
.cb {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cm {
  flex-grow: 1;
}
.copy {
  text-decoration: underline;
}

.intro {
  text-decoration: underline;
  text-transform: uppercase;
}
.intro:hover {
  color: blue;
  background-color: lightblue;
}
.jimo {
  text-align: center;
}

.navigation {
  display: flex;
  background-color: var(--hover-color);
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700px;
  border-bottom: 1px solid var(--hover-color);
  align-items: center;
}
.subnav {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700px;
  align-items: center;
}

.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
}
.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px auto;
}
label {
  margin-bottom: 3px;
}
textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  color: red;
  background-color: bisque;
}
textarea:hover {
  background-color: lightblue;
}
p {
  text-align: justify;
  line-height: 2;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
  font-size: 20px;
}
p.copycontainer:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.j:hover {
  color: #fff;
  background-color: black;
  transition: 0.3s ease;
}
p.i:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.m:hover {
  color: #fff;
  background-color: black;
  transition: 0.3s ease;
}

p.o:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.h:hover {
  color: #fff;
  background-color: skyblue;
  transition: 0.3s ease;
}

.face {
  width: 50px;
  height: 30px;
  padding: 1px;
}
.whatsa {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.right {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.mail {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.form {
  border-bottom: #333 double 3px;
}

input,
textarea {
  margin-bottom: 10px;
}
.brief,
.list,
.interest {
  border-bottom: #333 double 5px;
}
.brief:hover,
.list:hover,
.interest:hover,
.jimo:hover {
  background-color: #3498db;
  color: #fff;
}
li {
  margin-bottom: 5px;
  list-style: square;
}

li:nth-child(2n + 1):hover {
  background-color: lightskyblue;
  color: black;
}
li:nth-child(2n):hover {
  background-color: lightskyblue;
  color: red;
}
li:last-child:hover {
  background-color: lightcyan;
  color: dodgerblue;
}
li:first-child:hover {
  background-color: aquamarine;
  color: deeppink;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;

  min-width: 160px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

  padding: 1px 1px;
}
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.dot-menu {
  cursor: pointer;
  width: 30px;
  height: 2px;
}
.dot-menu::after {
  content: "\≡";
  font-size: 35px;
}
label {
  margin-top: 45px;
}
footer {
  margin-top: 25px;
}
.lab {
  margin-top: 35px;
}

a {
  margin-right: 45px;
}
.copycontainer {
  width: 800px;
  height: auto;
  border: gainsboro solid 2px;

  padding: 5px;
  border-radius: 10px;
  text-align: center;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    border: darkgreen;
    background-color: darkolivegreen;
  }
  25% {
    border-color: palevioletred;
    background-color: var(--accent-color);
  }

  50% {
    border-color: #f00;
    background-color: navajowhite;
  }
  75% {
    border-color: darkgreen;
    background-color: var(--primary-color);
  }

  100% {
    border-color: blue;
    background-color: lightslategrey;
  }
}

.co {
  display: flex;

  align-items: center;
  gap: 50px;
}
.a {
  width: auto;
  height: auto;
  border: #333 solid 2px;
  background: linear-gradient(red, blue, green);
}
.b {
  width: 800px;
  height: auto;
}
.c {
  text-align: justify;
}
.copycontainer::after .copycontainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(red, blue);
}
.b {
  display: flex;
}
.co {
  display: flex;
}
.b::after .b::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(red, blue) (transparent, green);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
}
.b::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
.copycontainer::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
.hom {
  border-bottom: 2px solid var(--text-color);
}
.islamic-images {
  display: flex;
  margin: 1em auto;
  gap: 2em;

  overflow-x: auto;

  aspect-ratio: 5/3;
  scroll-behavior: smooth;
  anchor-name: --islamicimages;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.islamic-images::-webkit-scrollbar {
  display: none;
}
.islamic-images::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.im1::scroll-marker {
  content: "";
  height: 1em;
  width: 1em;
  background-color: darkslategrey;
  border-radius: 50%;
}
.im1::scroll-marker:target-current {
  background-color: aqua;
}
.intro {
  margin-top: 2em;
}
.islamic-images::scroll-button(right) {
  content: "→";
  width: 60px;
  height: 60px;
  background-color: indigo;
  color: white;
  border: none;
  font-size: 3rem;
  font-family: consolas;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --islamicimages;
  position-area: right center;
  translate: -50%;
}
.islamic-images::scroll-button(left) {
  content: "←";
  width: 60px;
  height: 60px;
  background-color: indigo;
  color: red;
  border: none;
  font-size: 3rem;
  font-family: consolas;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --islamicimages;
  position-area: left center;
  translate: 50%;
}
.islamic-images::scroll-button(right):disabled {
  opacity: 0.5;
  cursor: auto;
}
.islamic-images::scroll-button(left):disabled {
  opacity: 0.5;
  cursor: auto;
}
.im1 {
  aspect-ratio: 5/2;
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  align-content: center;
  background-color: var(--accent-color);
  scroll-snap-align: start;
}

@media (max-width: 300px) {
  .islamic-images {
    flex: 0 0 100%;
  }
}

.jimo {
  position: relative;
  width: max-content;
}

.jimo::after {
  content: "";
  width: 100%;
  height: 5px;
  background-image: linear-gradient(
    to right,
    red,
    blue,
    green,
    skyblue,
    orange
  );
  bottom: 0;
  left: 0;
  position: absolute;
}
.lab1 {
  border: 2px solid;
  border-image: linear-gradient(to right, red, orange, cyan, purple, green) 1;
  width: max-content;
}

.section2 {
  margin-top: 25px;
}

.grid-parentcontainer {
  background-color: #fff;
  padding: 10px;

  margin-top: 30px;
  height: max-content;
}
.grid-container {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  gap: 1em;
  justify-content: center;
  grid-template-areas: "box1 box1 box2 box7" "box1 box1 box3 box8" "box4 box5 box6 box8";

  background-color: aqua;
}
.item {
  background-color: #3498db;
  border-radius: 1px;
  color: white;
  font-size: 12px;
  padding: 2em;
  text-align: center;
}
.item13 {
  transition-property: transform;
  transition-duration: 1.5s;
  transition-timing-function: ease;
  transition-delay: 0.5s;
  background-color: #3498db;
  border-radius: 1px;
  color: white;
  font-size: 12px;
  padding: 2em;
  text-align: center;
}
.item13:hover {
  transform: rotate3d(0, 1, 0, 360deg);
}
.item3 {
  background: linear-gradient(to bottom right, red, green, pink, orange);
}
.item5 {
  background: radial-gradient(
    circle at center,
    green,
    pink,
    yellow,
    cyan,
    purple
  );
}
.item7 {
  background: radial-gradient(
    farthest-corner at 100px 100px,
    blue,
    indigo 9%,
    skyblue 25%,
    violet,
    black,
    white
  );
}
.item9 {
  background: repeating-linear-gradient(
    45deg,
    red,
    grey,
    green,
    pink,
    skyblue,
    navajowhite,
    rgba(122, 109, 156, 0.5)
  );

  transition-property: transform;
  transition-duration: 3s;
  transition-delay: 0.5s;
  transition-timing-function: ease;
}
.item9:hover {
  transform: rotate(45deg);
  transform: skewX(30deg);
}
.item12 {
  background: conic-gradient(
    rgba(212, 148, 65, 0.7),
    darkolivegreen,
    lightskyblue,
    indigo
  );
}
.b {
  width: 200px;
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  float: left;
  shape-outside: circle(50%);
  shape-margin: 1rem;
  margin-right: 1rem;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0.2s;
}
.circle:hover {
  transform: scale(3);
}
.item3 {
  animation: praise 2s ease infinite;
}
@keyframes praise {
  to {
    transform: translateX(100px) rotate(360deg) scale(3);
  }
}
.item18 {
  background: radial-gradient(
    farthest-corner,
    yellow,
    cyan,
    orange,
    rgba(66, 6, 61, 0.7)
  );
}
.grid-container {
  background: radial-gradient(
    farthest-corner,
    rgba(133, 134, 163, 0.9),
    rgb(43, 19, 19),
    rgb(133, 94, 161),
    green,
    rgb(35, 109, 109)
  );
}
.intro {
  marks: var(--accent-color);
}
.item,
.item13 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}
#login-toggle {
  display: none;
}
.login-popup {
  display: none;
  position: relative;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  width: max-content;
}
#login-toggle:checked + .login-popup {
  display: block;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  background: #f00;
  width: max-content;
  margin-top: 0;
}
.log {
  color: black;
  width: max-content;
}
.logi {
  width: 50px;
  height: 40px;
  border: 5px solid;
  background: linear-gradient(to right, red, yellow, green, cyan);
  background-size: 200% 100%;
  animation: bor 5s linear infinite;
  margin-top: 15px;
}
@keyframes bor {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.moving {
  animation: move 5s linear infinite;
  white-space: nowrap;
}
@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
