* {
  font-family: "Times New Roman", Times, serif;
  max-width: 1800px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --text-color: #c9c9c9;
  --accent-color: #0071ff;
}
html {
  font-family: poppins, "Segoe UI", sans-serif;
  color: var(--text-color);
}
main {
  padding: min(5em, 7%);
}
main p {
  margin-top: 0.35em;
}
h1,
h2,
h3 {
  font-weight: 700px;
}
body {
  background-color: var(--primary-color);
  min-height: 100vh;
  min-height: 100dvh;
}
.mf {
  margin-top: 30px;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: #333;
}
footer:hover {
  background-color: pink;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 1px;
}
a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}
html {
  scroll-behavior: smooth;
}

section:target {
  background-color: skyblue;
}
.ab {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.am {
  flex-grow: 1;
}
.pb {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pm {
  flex-grow: 1;
}
.cb {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.cm {
  flex-grow: 1;
}
.copy {
  text-decoration: underline;
}

.intro {
  text-decoration: underline;
  text-transform: uppercase;
}
.intro:hover {
  color: blue;
  background-color: lightblue;
}
.jimo {
  text-align: center;
}

.navigation {
  display: flex;
  background-color: var(--hover-color);
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700px;
  border-bottom: 1px solid var(--hover-color);
  align-items: center;
}
.subnav {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-weight: 700px;
  align-items: center;
}

.section1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
}
.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 7px auto;
}
label {
  margin-bottom: 3px;
}
textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  color: red;
  background-color: bisque;
}
textarea:hover {
  background-color: lightblue;
}
p {
  text-align: justify;
  line-height: 2;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
  font-size: 20px;
  /* letter-spacing: 1rem; */
}
p.copycontainer:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.j:hover {
  color: #fff;
  background-color: black;
  transition: 0.3s ease;
}
p.i:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.m:hover {
  color: #fff;
  background-color: black;
  transition: 0.3s ease;
}

p.o:hover {
  color: #fff;
  background-color: #3498db;
  transition: 0.3s ease;
}
p.h:hover {
  color: #fff;
  background-color: skyblue;
  transition: 0.3s ease;
}

.face {
  width: 50px;
  height: 30px;
  padding: 1px;
}
.whatsa {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.right {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.mail {
  width: 35px;
  height: 30px;
  padding: 1px;
}
.form {
  border-bottom: #333 double 3px;
}
/* .con {
  border-bottom: #333 double 3px;
} */
input,
textarea {
  margin-bottom: 30px;
}
.brief,
.list,
.interest {
  border-bottom: #333 double 5px;
}
.brief:hover,
.list:hover,
.interest:hover,
.jimo:hover {
  background-color: #3498db;
  color: #fff;
}
li {
  margin-bottom: 5px;
  list-style: square;
}

li:nth-child(2n + 1):hover {
  background-color: lightskyblue;
  color: black;
}
li:nth-child(2n):hover {
  background-color: lightskyblue;
  color: red;
}
li:last-child:hover {
  background-color: lightcyan;
  color: dodgerblue;
}
li:first-child:hover {
  background-color: aquamarine;
  color: deeppink;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;

  min-width: 160px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);

  padding: 1px 1px;
}
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
  display: block;
  /* margin-top: 15px; */
}

.dot-menu {
  cursor: pointer;
  width: 30px;
  height: 2px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-bottom: 5px; */
}
.dot-menu::after {
  content: "\...";
  font-size: 35px;
}
label {
  margin-top: 45px;
  /* margin-bottom: 5px; */
}
footer {
  margin-top: 25px;
}
.lab {
  margin-top: 35px;
}
/* .dropdown-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
a {
  margin-right: 45px;
}
.copycontainer {
  width: 800px;
  height: auto;
  border: gainsboro solid 2px;
  /* transition: border-color 0.5s ease; */
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  animation: pulse 2s infinite;
  /* animation: copyr 2s infinite; */
  /* position: relative; */
}
/* .copycontainer:hover {
  border-color: #f00;
} */
@keyframes pulse {
  0% {
    border: darkgreen;
    background-color: darkolivegreen;
  }
  25% {
    border-color: palevioletred;
    background-color: var(--accent-color);
  }

  50% {
    border-color: #f00;
    background-color: navajowhite;
  }
  75% {
    border-color: darkgreen;
    background-color: var(--primary-color);
  }

  100% {
    border-color: blue;
    background-color: lightslategrey;
  }
}

.co {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 50px;
}
.a {
  width: auto;
  height: auto;
  border: #333 solid 2px;
  background: linear-gradient(red, blue, green);
}
.b {
  width: 800px;
  height: auto;
  /* border: #333 solid 2px; */
}
.c {
  text-align: justify;
}
.copycontainer::after .copycontainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(red, blue);
  /* top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px; */
}
.b {
  display: flex;
}
.co {
  display: flex;
}
.b::after .b::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(red, blue) (transparent, green);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
}
.b::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
.copycontainer::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
/* .card {
  width: 300px;
  margin: 0 auto;
  padding: 2em;
  background-color: #1c1f2b;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.card::after .card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: conic-gradient(red, blue) (transparent, green);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 10px;
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
} */
.lab1 {
  background-color: var(--accent-color);
  padding: 1em;
}
.hom {
  border-bottom: 2px solid var(--text-color);
}
